## Environment Setup

In [1]:
import snscrape.modules.twitter as sntwitter

import pandas as pd

## Scraping For 2020

In [2]:
# Creating list to append tweet data to
tweets_list_scrape = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('resesi ekonomi 2023 since:2020-02-15 until:2020-12-31 lang:in').get_items()):
    tweets_list_scrape.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.lang])

/var/folders/10/p10gxx2s7yd7602rnzfw574c0000gn/T/ipykernel_1314/1300538918.py:6: FutureWarning: content is deprecated, use rawContent instead
  tweets_list_scrape.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.lang])

In [4]:
# Creating a dataframe from the tweets list above
tweets_df_scrape = pd.DataFrame(tweets_list_scrape, columns=['Datetime', 'Tweet Id', 'Tweet', 'Username', 'Language'])

# Display first 5 entries from dataframe
tweets_df_scrape.head(100)

,Datetime,Tweet Id,Tweet,Username,Language
0,2020-11-05 08:25:32+00:00,1324266586883026945,"Indonesia Resesi, Pengusaha Sebut Pertumbuhan ...",liputan6dotcom,in
1,2020-10-17 10:36:09+00:00,1317414089144987649,"Pengamat mengatakan, pertumbuhan ekonomi baru ...",LokadataID,in
2,2020-09-28 05:23:24+00:00,1310450011230990342,"Pengamat mengatakan, pertumbuhan ekonomi baru ...",LokadataID,in
3,2020-09-24 13:42:22+00:00,1309126027755556864,"Kalau Kanker, Sepertinya Sudah Masuk Stadium E...",myputun,in
4,2020-09-24 07:31:13+00:00,1309032626439757826,"Ini Bukan Kabar Baik, Ekonomi Indonesia Dipred...",BizlawIndonesia,in
5,2020-09-23 10:03:15+00:00,1308708497643597824,"Resesi Tak Terhindarkan, Ekonomi Diproyeksi Pu...",agg90,in
6,2020-08-17 04:23:26+00:00,1295214630051000326,Semoga Indonesia dpt berhasil ujicoba vaksin c...,ankrizz,in
7,2020-07-16 04:16:41+00:00,1283616518257836032,@CNNIndonesia Negara Singapura kena resesi eko...,kangenghea,in

In [5]:
# Export dataframe into a CSV
tweets_df_scrape.to_csv('tweet_scrape_result_2020.csv', sep=',', index=False)

## Scraping For 2021

In [6]:
# Creating list to append tweet data to
tweets_list_scrape_2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i_2,tweet_2 in enumerate(sntwitter.TwitterSearchScraper('resesi ekonomi 2023 since:2021-01-01 until:2021-12-31 lang:in').get_items()):
    tweets_list_scrape_2.append([tweet_2.date, tweet_2.id, tweet_2.content, tweet_2.user.username, tweet_2.lang])

/var/folders/10/p10gxx2s7yd7602rnzfw574c0000gn/T/ipykernel_1314/3174376337.py:6: FutureWarning: content is deprecated, use rawContent instead
  tweets_list_scrape_2.append([tweet_2.date, tweet_2.id, tweet_2.content, tweet_2.user.username, tweet_2.lang])

In [7]:
# Creating a dataframe from the tweets list above
tweets_list_scrape_2 = pd.DataFrame(tweets_list_scrape_2, columns=['Datetime', 'Tweet Id', 'Tweet', 'Username', 'Language'])

# Display first 5 entries from dataframe
tweets_list_scrape_2.head()

,Datetime,Tweet Id,Tweet,Username,Language
0,2021-05-05 10:27:28+00:00,1389889473417138185,"Covid-19 belum terhandle dengan baik, ekonomi ...",amatalidla,in

In [8]:
# Export dataframe into a CSV
tweets_list_scrape_2.to_csv('tweet_scrape_result_2021.csv', sep=',', index=False)

## Scraping For 2022

In [9]:
# Creating list to append tweet data to
tweets_list_scrape_3 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i_3,tweet_3 in enumerate(sntwitter.TwitterSearchScraper('resesi ekonomi 2023 since:2022-01-01 until:2022-12-31 lang:in').get_items()):
    tweets_list_scrape_3.append([tweet_3.date, tweet_3.id, tweet_3.content, tweet_3.user.username, tweet_3.lang])

/var/folders/10/p10gxx2s7yd7602rnzfw574c0000gn/T/ipykernel_1314/1693629608.py:6: FutureWarning: content is deprecated, use rawContent instead
  tweets_list_scrape_3.append([tweet_3.date, tweet_3.id, tweet_3.content, tweet_3.user.username, tweet_3.lang])

In [11]:
# Creating a dataframe from the tweets list above
tweets_list_scrape_3 = pd.DataFrame(tweets_list_scrape_3, columns=['Datetime', 'Tweet Id', 'Tweet', 'Username', 'Language'])

# Display first 5 entries from dataframe
tweets_list_scrape_3.head(100)

,Datetime,Tweet Id,Tweet,Username,Language
0,2022-12-30 18:21:52+00:00,1608891134419566597,2023 gak jadi resesi soalnya jeben berlayar ma...,theendofautumn,in
1,2022-12-30 16:05:03+00:00,1608856700882407424,KETAHANAN pangan harus menjadi resolusi 2023 s...,mediaindonesia,in
2,2022-12-30 14:36:04+00:00,1608834307761786887,NARASI RESESI VS OPTIMISME EKONOMI 2023 https:...,nawacitadotco,in
3,2022-12-30 14:24:37+00:00,1608831426165870593,"Rumah Zakat Buat Strategi Tahun 2023, 'untuk K...",RiaupagiSurya,in
4,2022-12-30 14:03:04+00:00,1608826004906332160,2023 sudah dibayangi adanya Resesi Global. \nB...,cityguide911fm,in
...,...,...,...,...,...
95,2022-12-26 03:56:41+00:00,1607223852156981249,Banyak pakar ekonomi dan analis memperingatkan...,sariagri_id,in
96,2022-12-26 01:25:00+00:00,1607185678122749952,Ini Kekuatan Ekonomi Indonesia di Tengah Ancam...,okezonenews,in
97,2022-12-25 18:39:25+00:00,1607083611244879872,Ngerti maksudnya ngomongin jepang jg kreditor ...,nan100321,in
98,2022-12-25 14:40:33+00:00,1607023497360080896,@Hilmi28 Semoga th 2023 secara ekonomi keluarg...,BudiSul27538925,in
99,2022-12-25 13:25:00+00:00,1607004485024649216,"Kondisi Ekonomi RI Stabil, Siap Hadapi Resesi ...",MobilalaNauw,in

In [12]:
# Export dataframe into a CSV
tweets_list_scrape_3.to_csv('tweet_scrape_result_2022.csv', sep=',', index=False)

## Merge All Data Frame

In [13]:
df = pd.DataFrame(tweets_list_scrape, columns=['Datetime', 'Tweet Id', 'Tweet', 'Username', 'Language'])
df1 = pd.DataFrame(tweets_list_scrape_2, columns=['Datetime', 'Tweet Id', 'Tweet', 'Username', 'Language'])
df2 = pd.DataFrame(tweets_list_scrape_3, columns=['Datetime', 'Tweet Id', 'Tweet', 'Username', 'Language'])

# Merge all dataframe into one data frame wiht concat
# data_frames = [tweets_list_scrape, tweets_list_scrape_2, tweets_list_scrape_3]
data_frames = [df, df1, df2]

result = pd.concat(data_frames)

In [19]:
# Display first 5 entries from dataframe
result

,Datetime,Tweet Id,Tweet,Username,Language
0,2020-11-05 08:25:32+00:00,1324266586883026945,"Indonesia Resesi, Pengusaha Sebut Pertumbuhan ...",liputan6dotcom,in
1,2020-10-17 10:36:09+00:00,1317414089144987649,"Pengamat mengatakan, pertumbuhan ekonomi baru ...",LokadataID,in
2,2020-09-28 05:23:24+00:00,1310450011230990342,"Pengamat mengatakan, pertumbuhan ekonomi baru ...",LokadataID,in
3,2020-09-24 13:42:22+00:00,1309126027755556864,"Kalau Kanker, Sepertinya Sudah Masuk Stadium E...",myputun,in
4,2020-09-24 07:31:13+00:00,1309032626439757826,"Ini Bukan Kabar Baik, Ekonomi Indonesia Dipred...",BizlawIndonesia,in
...,...,...,...,...,...
2285,2022-03-29 00:32:54+00:00,1508603069168484355,Tanda tanda 4 ekonomi USA akan melambat/resesi...,xaximata,in
2286,2022-03-29 00:29:29+00:00,1508602209889841152,Tanda tanda 3 ekonomi USA akan melambat/resesi...,xaximata,in
2287,2022-03-29 00:29:05+00:00,1508602105350979584,Tanda tanda 2 ekonomi USA akan melambat/resesi...,xaximata,in
2288,2022-03-29 00:28:39+00:00,1508601997603504132,Tanda tanda 1 ekonomi USA akan melambat/resesi...,xaximata,in
2289,2022-03-11 02:52:58+00:00,1502115333980799004,Ekonomi AS Berisiko Resesi pada 2023 – Goldman...,fxstreetnewsid,in

In [17]:
# Export dataframe into a CSV
result.to_csv('tweet_scrape_result_merged.csv', sep=',', index=False)